%nav.navbar.navbar-default.navbar-conduit{role: "navigation"}
  .navbar-header
    - if(current_user)
      = link_to "#menu", class: 'menu-link' do
        = icon('bars')
    = link_to "Conduit", root_path, class: "navbar-brand"
  .navbar-right
    - if(current_user)
      %span.navbar-brand #{current_user.login}
      = link_to destroy_user_session_path , method: 'delete' , id: 'Log Out', class: 'btn btn-default navbar-btn' do
        = icon('sign-out')
        Sign Out
    - else
      = link_to new_user_session_path, class: 'btn btn-default navbar-btn' do
        = icon('sign-in')
        Sign In
