%label{for: '#ldap-group-select'} LDAP Group
%select.ldap-groups#ldap-group-select
  - User.get_all_ldap_groups.each do |ldap_group|
    %option{value:ldap_group}= /CN=(.*?),/.match(ldap_group)[1]

%label{for: '#role-select'} Role
%select.role-select#role-select
  - Role.all.each do |role|
    %option{value:role}= role.name

=button_tag 'Map', type: 'button'

= form_tag '/sadf' do 
  .form-group
    = label_tag "email"
    = email_field_tag "email", nil, id: "sign_up_email"

  .form-group
    = label_tag "login"
    = text_field_tag "login", nil, id: "sign_up_username"
  
  .form-group
    = label_tag "password"
    = password_field_tag "password", nil, id: "sign_up_password"

  .form-group
    = label_tag "password_confirmation"
    = password_field_tag "password_confirmation", nil, id: "sign_up_confirm"

  = submit_tag

%h1 Listing Users

%ul
  - @non_enova_users.each do |user|
    %li
      = "#{user.email} - #{user.last_sign_in_at}"
      - @roles.each do |role|
        = label_tag "#{role.name}-#{user.id}", role.name
        = check_box_tag "#{role.name}-#{user.id}", role.name, user.roles.include?(role), user: user.email
      = button_tag(type: 'button') { "Save" }
