.fullpage
  - Widget.last_page.times do |page|
    .section{id: "page-#{page+1}"}
      = render partial: 'partials/grid', locals: {page: page+1, filtered_widgets: @widgets.where(page: page+1)}

%nav#menu.modal-panel{role: 'navigation'}
  %h1 Add Widgets
  - Widget.last_page.times do |page|
    - Widget.descendants.each do |desc|
      .actions
        %span Add to page #{page+1}
        = link_to image_tag("#{desc.to_s.underscore}.png", height: '22'), widgets_path(widget: { page: page+1, type: desc.to_s }), class: "btn btn-default navbar-btn new", method: :post, remote: true
