.form-group
  %label{for: "widget-page-selector-#{widget.id}"} Move to page
  %select.widget-page-selector{id: "widget-page-selector-#{widget.id}", for_widget: widget.id, current_page: widget.page}
    - Widget.last_page.times do |page|
      - if page+1 == widget.page
        %option{selected: true, value: page+1} #{page+1}
      - else
        %option{value: page+1} #{page+1}

.form-group
  %label{for: "widget-name-field-#{widget.id}"} Name
  %input{id: "widget-name-field-#{widget.id}", key: "name", value: widget.name}

%label{for: "widget-query-field-#{widget.id}"} Query
%select.query-type-select{id: "widget-query-field-#{widget.id}"}
  - Query.all.each do |query|
    - if query.id == widget.query_id
      %option{value: query.id, selected: true} #{query.name}
    - else
      %option{value: query.id} #{query.name}

.widget-variables-field
  = render partial: 'widgets/variables', locals: {widget: widget, query_id: widget.query_id}

%label{for: "graph-headers-field-#{widget.id}"} Headers
%select.query-type-select{id: "graph-headers-field-#{widget.id}"}
  %option{value: 'default', selected: true} Default
  %option{value: 'kpi'} KPIs
  %option{value: 'int'} Countables

.graph-columns-field
  = render partial: 'graphs/headers', locals: {widget: widget}

%input.current-query{type:'hidden', value: widget.query_id}
%input.current-widget{type:'hidden', value: widget.id}
%a.btn.btn-default.edit-widget-btn
  = icon('save')
  Save
= link_to widget, :class => "btn btn-default delete-widget-btn", :method => :delete , :data => {:confirm => 'Are you sure?'} do
  = icon('times')
  Delete

