= form_for(@widget, html: {role: "form"}) do |f|
  - if @widget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@widget.errors.count, "error")} prohibited this widget from being saved:"
      %ul
        - @widget.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :name
    = f.text_field :name
  .field.form-group
    = f.label :graph
    = f.number_field :graph
  .field.form-group
    = f.label :height
    = f.text_field :height
  .field.form-group
    = f.label :width
    = f.text_field :width
  .actions
    = f.submit 'Save', class: "btn btn-default"
