- fake_structured_data = []
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider2', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider3', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider4', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider6', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider7', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider8', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider8', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider8', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider8', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider8', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider2', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider3', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider4', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider5', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider1', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
- fake_structured_data.push({ provider: 'provider5', first_kpi: '2100', second_kpi: '24155', third_kpi: '0.5' })
.widget.panel.panel-default
  .panel-heading
    %h3.panel-title= table[:name]
  .panel-body
    %table.display.tables{ id: "table-#{table[:id]}", cellspacing: '0', width: '100%' }
      %thead
        %tr
          - fake_structured_data.first.keys.each do |key|
            %th #{key}
      %tfoot
        %tr
          - fake_structured_data.first.keys.each do |key|
            %th #{key}
      %tbody
        - fake_structured_data.each do |row|
          %tr
            - row.values.each do |value|
              %td #{value}
    %ul.actions
      %li.action
        = link_to "Edit", edit_widget_path(table), class: "btn btn-default save"
      %li.action
