- variables = (defined? new_variables) ? new_variables : widget.variables
- unless variables.empty?
  %span Variables
- variables.each do |variable, value|
  - id = SecureRandom.urlsafe_base64(nil, false)
  .form-group
    - if variables.to_s == "providers"
      %label{for: "#{variable}-#{id}"} #{variable}
      %input.widget-variables.providers{key: variable, value: value, id: "#{variable}-#{id}", class: variable}
    - else
      %label{for: "#{variable}-#{id}"} #{variable}
      %input.widget-variables{key: variable, value: value, id: "#{variable}-#{id}", class: variable}
