- variables = (defined? new_variables) ? new_variables : widget.variables

- variables.reject{ |k, _| k == :providers }.each do |variable, value|
  - id = SecureRandom.urlsafe_base64(nil, false)
  .form-group
    - if variable.to_s == "providers"
      - if not current_user.provider.nil?
        %label.hidden{for: "#{variable}-#{id}"} #{variable}
        %select.widget-variables.hidden{id: "#{variable}-#{id}", class: variable, multiple: 'multiple', key: variable}
          %option{value:current_user.provider.name, selected: true}= current_user.provider.name
      - else
        %label{for: "#{variable}-#{id}"} #{variable}
        %select.widget-variables{id: "#{variable}-#{id}", class: variable, multiple: 'multiple', key: variable}
          - Provider.where(brand_id: widget.variables[:brand_id]).order(:name).each do |provider|
            - if widget.variables[:providers].include? provider.name
              %option{value:provider.name, selected: true}= provider.name
            - else
              %option{value:provider.name}= provider.name
    - elsif variable.to_s == "brand_id"
      %label{for: "#{variable}-#{id}"} Brand
      %select.brand-selector{key: variable, id: "#{variable}-#{id}"}
        - if value.to_s == "2"
          %option{value: "2", selected:true} QuickQuid
          %option{value: "11"} Pounds to Pocket
        - else
          %option{value: "2"} QuickQuid
          %option{value: "11", selected:true} Pounds to Pocket
    - else
      - p variable
      - p variables[:variable]
      %label{for: "#{variable}-#{id}"} #{variable.to_s.gsub!(/_/, ' ').capitalize}
      %input.widget-variables{key: variable, value: value, id: "#{variable}-#{id}", class: variable}
- if widget.providers
  - id = SecureRandom.urlsafe_base64(nil, false)
  - variable = "providers"
  .form-group
    %label{for: "#{variable}-#{id}"} #{variable}
    %select.widget-variables{id: "#{variable}-#{id}", class: variable, multiple: 'multiple', key: variable}
      - Provider.all.where(brand_id: widget.variables[:brand_id]).order(:name).each do |provider|
        - if widget.variables[:providers].include? provider.name
          %option{value:provider.name, selected: true}= provider.name
        - else
          %option{value:provider.name}= provider.name
