.widget.panel.panel-default
  .panel-heading
    %h3.panel-title.widget-title= widget[:name]
    %span.panel-subtitle
      query last executed
      %span.rotate
        #{time_ago_in_words widget[:last_executed]} ago|
        on #{widget[:last_executed].in_time_zone('Central Time (US & Canada)').to_formatted_s(:long_ordinal)}
    %a.btn.btn-default.edit-widget-btn
      = icon('wrench')
      Edit
    %a.btn.btn-default.back-widget-btn.hidden
      = icon('arrow-left') # arrow-circle-left
      Back
  .panel-body
    - if widget.class == Table
      = render partial: 'widgets/table', object: widget
    - else
      = render partial: 'widgets/chart', object: widget
  .panel-settings
    = render partial: 'widgets/settings', locals: {widget: widget}
  .panel-spinner.panel-blocker
  .panel-freshness.panel-blocker
    %span This widget is out of date. Please refresh the page.
