= form_for(@table) do |f|
  - if @table.errors.any?
    #error_explanation
      %h2
        = pluralize(@table.errors.count, "error")
        prohibited this query_table from being saved:
      %ul
        - @table.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :query_id
    %br/
    = f.number_field :query_id
  .actions
    = f.submit
