%h2 Sign in
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  - if not notice.nil?
    %p#notice.alert.alert-warning= notice
  - if not alert.nil?
    %p#alert.alert.alert-danger= alert
  %div
    = f.label :login
    %br/
    = f.text_field :login, :autofocus => true , :id => "login"
  %div
    = f.label :password
    %br/
    = f.password_field :password , :id => "password"
  - if devise_mapping.rememberable?
    %div
      = f.check_box :remember_me
      = f.label :remember_me
  %div= f.submit "Sign in" , :id => "Sign In"
= render "devise/shared/links"
