!!!
%html
  %head
    %title Conduit
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'partials/navbar'

    .main
      %section
        %div{ style: "width:100%;height:745px;background:red;" }
          %h1 SECTION 2
      %section
        %div{ style: "width:100%;height:745px;background:blue;" }
          %h2 SECTION 2
      %section
        %div{ style: "width:100%;height:745px;background:green;" }
          %h3 SECTION 3
    .container-fluid
      = yield
